.page-title {
  text-align: center;

  h1 {
    font-size: 48px;
  }
  .title-divider {
    color: $todayII;
    font-size: 6px;
  }
}

.left-content {
  padding-top: 10px;

  .empty-border-button {
    border: solid 1px black;
    width: 95px;
    height:33px;
    padding: 0;
    border-color:$todayII;
  }
  .text-content {
    color: $white;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

   h4 {
     font-family: lekton_bold;
     color:$white;
     text-align: center;
     margin: 0;
     padding: 0;
  }
}

.right-content {
  padding-top: 10px;

  .a{fill:none;stroke:#259073;stroke-miterlimit:10;}.b{fill:#259073;}
  .browser {
    width: 605px;
    height: 405px;
    fill:none;
  }

}
