.page-title {
  text-align: center;

  h1 {
    font-size: 48px;
  }
  .title-divider {
    color: $todayII;
    font-size: 6px;
  }
}

.total-content {
  max-width: 1920px;

}
.left-content {
  padding-top: 10px;
  display: inline-block;

  .empty-border-button {
    border: solid 1px black;
    max-width: 50px;
    height: 33px;
    padding: 0;
    border-color:$todayII;
  }
  .text-content {
    color: $white;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

   h5 {
     line-height: 32px;
     font-family: lekton_regular;
     font-size: 14px;
     color:$white;
     text-align: center;
     padding: 0;
  }
}

.right-content {
  display: inline-block;
  padding-top: 10px;
}
