.about-me-content {
  .code-arrows {
    color: $todayIV;
    font-size: 1rem;
    margin: 1px;

  }

  .empty-border-button {
    border: solid 1px $todayII;
    height: 33px;
    padding: 0;

    h5 {
      line-height: 33px;
      margin: 0;
      font-size: 0.9rem;
      text-align: center;
      padding: 0;
    }
  }

  .about-total {
    margin: 10vh auto;

    .skill-content {
      padding-top: 10px;

      .skill-selectors {
        display: flex;
        justify-content: center;
        padding-left: 15px;

        .skill-selectors-content-back-end,
        .skill-selectors-content-dev-ops,
        .skill-selectors-content-front-end {
          max-width: 100px;
          margin: 0 auto;
        }
      }

      .about-title-left,
      .about-title-right {}

    }

    .bio-content {
      .text-content {
        text-align: justify;
        text-justify: inter-word;

        p {
          font-size: 0.8rem;
        }
      }

    }
  }

}
