.app-container {
  z-index: 3;
  margin: 0;
  padding: 0;

}

.content {}

.page-title {
  padding-left: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  h2 {
    font-family: 'lekton_regular';
    font-size: 3.5rem;
    padding: 0;
  }

  .title-divider {
    text-align: center;
    color: $todayII;
    font-size: 6px;

    margin-bottom: 10px;
  }
}

.refresh-pane {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background-color: $todayII;
  visibility: hidden;
  z-index: -5;

}

.app-total {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  width: 100vw;
  height: 0.8vh;
  background-color: $todayII;
  border-bottom: solid $todayI 1px;
}

.header-mobile {
  position: absolute;
  width: 100vw;
  top: 9vh;
  height: 0.3vh;
  background-color: $todayII;
  border-bottom: solid $todayI 1px;
}

.footer-mobile {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 99.6vh;
  width: 100vw;
  height: 0.4vh;
  background-color: $todayII;
}

.footers {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 99.2vh;
  width: 100vw;
  height: 0.8vh;
  background-color: $todayII;
}

.about-footer,
.about-header {
  background-color: $todayII;
  transition: background-color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.home-footer,
.home-header {
  background-color: $todayIV;
  transition: background-color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.work-footer,
.work-header {
  background-color: $todayIII;
  transition: background-color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-header {
  background-color: $todayV;
  transition: background-color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-footer {
  background-color: $todayV;
  transition: background-color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.move-container {
  position: absolute;
  margin: 0;
  padding: 0;
}
