.browser {
  .browser-content {
    margin: auto;
    position: relative;

    #browser-item-svg {
      .a {
        fill: none;
        stroke: $todayII;
        stroke-miterlimit: 10;
      }

      .b {
        fill: $todayII;
      }
    }

  }

}
