.outerHexagon {
  fill: $todayI;
}

.innerHexagon {
  fill: $lighterTodayI;
}

.vignette {
  pointer-events: none;
  position: absolute;
  top: 7vh;
  opacity: 1;
  background-image: url('/assets/vignette-min.png');
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  z-index: -1;
}
