.outerHexagon {
  fill: $todayI;
  stroke: $todayI;
  stroke-opacity: 0;
}

.innerHexagon {
  fill: $lighterTodayI;
}

.refresh-pane-container {
  visibility: hidden;
}

.refresh-pane {
  width: 0;
  height: 100%;
  fill: $todayII;
  stroke: red;
}

.vignette {
  position: absolute;
  top: 0;
  opacity: 1;
  background-image: url('/assets/vignette.png');
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  z-index: -1;
  mix-blend-mode: hard-light;
}
