.home-content {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //TODO: use media queries on height.
  height: 90vh;
  width: 100vw;
  overflow-y: scroll;

}
