.icon-content {
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
}

#social-media-icons {
  width: 100px;
  height: 30px;
}

.icon-border {
  fill: none;
  stroke: $white;
  stroke-miterlimit: 10;
}
.icon {
  fill: $white;
}
