.empty-border-button {
  cursor: pointer;
}

#skill-icons-item-svg {
  fill: $todayII;

  #server {
    .power-button {
      fill: $red;
    }

    .line-light {
      fill: $todayV;
    }

    .server-hinge {
      fill: $offwhite;
    }
  }

  #gears {
    cursor: pointer;
  }

  #laptop {
    cursor: pointer;

    .inset {
      fill: $todayI;
    }
  }
}

#laptop-frame1 {

  fill: $todayIII;
  opacity: 0;
}

#laptop-frame2 {
  fill: $todayIV;
  opacity: 0;

}

#laptop-frame3 {

  fill: $todayV;
  opacity: 0;
}
