.tab {
    background: $greyish;
    width: 24.5%;
    height: 27px;
    font-family: novecentowide;
    float: left;
    text-align: center;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
    font-size: 1rem;
    position: absolute;
}

.about {
    top: 2px;
    right: 75.2%;
}

.works {
    top: 2px;
    right: 50.2%;
}

.contacts {
    top:  2px;
    right: 25.2%;
}

.blog {
   top: 2px;
   right:.2%
}

.tabText {
    color: white;
}

a.active {

 div{
   border-bottom: $purecyan 1px solid;
   background-color: rgba(0,0,0,.1);
   transition: border-bottom 1s ease-in;
   
  //  transition: background-color .5s ease-in;
 }
}
