.tab {
  float: left;
  margin: 0 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav {
  display: flex;
  justify-content: center;
}

a {
  color: $white;
  text-decoration: none;
  font-family: 'lekton_regular';
  font-size: 1.5em;
}

div.tab.home {
  margin: -5px 0 0;
  padding: 0;
}

.tabText {
  h4 {
    margin: 0 auto;
  }
}
