#top-nav-icon {
  width: 91px;
  height: 84px;

  .icon-hexagon {
    fill: $todayI;
    stroke: $todayII;
    stroke-miterlimit: 10;
  }

  .colored-arrow {
    fill: $todayIV;
  }

  .white-arrow {
    fill: $white;
  }
}

.full-width-nav {
  width: 100vw;
  height: 100vh;
  background-color: $todayI;
}

.nav-mobile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;

  .nav-button {
    border-radius: 3px;
    margin-top: 25%;
    width: 50px;
    height: 50px;
    border: solid 1px $todayIV;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nav-divider {
      border-radius: 2px;
      margin-top: 2px;
      margin-bottom: 2px;
      width: 60%;
      height: 5px;
      background-color: $white;
    }
  }

}

.slide-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .slide-nav-item {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px $todayII;
    width: 80%;
    height: 14vh;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.5);

  }
}

.nav {
  display: flex;
  justify-content: center;
  padding: 0 15%;
  height: auto;
  text-align: center;

  .nav-item {
    margin: auto;
    width: auto;
    display: inline-block;

    h5 {
      text-align: center;
    }
  }

  .about,
  .blog,
  .contact,
  .work {
    white-space: nowrap;
  }

}
