.top-nav {
  .social {
    #social-media-icons-item-svg {
      .icon-border {
        fill: none;
        stroke: $white;
        stroke-miterlimit: 10;
      }

      .icon {
        fill: $white;
      }
      width: 75px;
      height: 45px;
      margin-top: 0.6rem;
      padding-top: 2rem;
      padding-right: 2rem;
    }
  }
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -webkit-linear-gradient(top, white, black);
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}

#top-nav-icon {
  width: 73px;
  height: 73px;

  position: relative;

  .icon-hexagon {
    fill: $todayI;
    stroke: $todayII;
    stroke-miterlimit: 10;
  }

  .colored-arrow {
    fill: $todayIV;
  }

  .white-arrow {
    fill: $white;
  }
  z-index: 99;
}

.mobile-logo-button-container {
  height: 8vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .mobile-logo-button {
    padding: 0;
    margin-right: 4px;
    width: 50px;
    height: 50px;

  }
}

.logo-subtitle {
  padding-left: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  background: -webkit-gradient(linear, left top, left bottom, from($todayI), color-stop($todayII), to($todayI)) left $todayI no-repeat;
  background: -webkit-linear-gradient(top, $todayI, $todayII, $todayI) left $todayI no-repeat;
  background: -o-linear-gradient(top, $todayI, $todayII, $todayI) left $todayI no-repeat;
  background: linear-gradient(to bottom, $todayI, $todayII, $todayI) left $todayI no-repeat;
  background-size: 1px 60%;

  h5 {
    small {
      font-size: 0.8rem;
      color: $white;
    }
  }
}

.exit-button {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 8vh;

}

#x-button {
  margin: 0;
  width: 1rem;
  height: 1rem;
  fill: $white;
}

.nav-mobile {
  -webkit-box-shadow: 0 3px rgba(0,0,0,.3);
  box-shadow: 0 3px rgba(0,0,0,.3);
  height: 8.2vh;
  width: 100vw;
  padding: 0 0 5px;
  /* gradient can be an image */
  background: -webkit-gradient( linear, right top, left top, from($todayI), color-stop($todayV), color-stop($todayIII), color-stop($todayII), color-stop($todayIII), color-stop($todayV), to($todayI)) left bottom $todayI no-repeat;
  background: -webkit-linear-gradient( right, $todayI, $todayV, $todayIII, $todayII, $todayIII, $todayV, $todayI) left bottom $todayI no-repeat;
  background: -o-linear-gradient( right, $todayI, $todayV, $todayIII, $todayII, $todayIII, $todayV, $todayI) left bottom $todayI no-repeat;
  background: linear-gradient( to left, $todayI, $todayV, $todayIII, $todayII, $todayIII, $todayV, $todayI) left bottom $todayI no-repeat;
  background-size: 100% 1px;
  /* if linear-gradient, we need to resize it */

  .nav-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3;

    .nav-button {
      padding-left: 10px;
      width: 40px;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .nav-divider {
        margin-top: 2px;
        margin-bottom: 2px;
        width: 25px;
        height: 2px;
        background-color: $white;
      }

    }

  }

}

.slide-nav {

  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 20vw;
  height: 8vh;

  .slide-nav-item {}
}

.nav {
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-top: -2px;
  height: auto;
  text-align: center;

  .nav-item {
    margin: auto;
    width: auto;

    h5 {
      font-weight: 100;
      text-align: center;
    }
  }

  .about,
  .blog,
  .contact,
  .work {
    white-space: nowrap;
  }

}

.nav-mobile-container {
  margin: 0;
  padding: 0;
}
