.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Slide Down */

.slide-down-enter {
  opacity: 0;
  transform: translateY(-1000px);
  transition: all 0.3s ease;
}

.slide-down-enter.slide-down-enter-active {
  opacity: 1;
  transform: translateY(0px);
}

.slide-down-leave {
  opacity: 0.01;
  transition: all 0.3s ease-in;
}

.slide-down-leave.slide-down-leave-active {
  opacity: 0.01;
  transform: translateY(-1000px);
  transition: all 0.3s ease-in;
}

.slide-down-appear {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.3s ease;
}

.slide-down-appear.slide-down-appear-active {
  opacity: 1;
  transform: translateY(0px);
}

/* Slide Up */

.slide-up-enter {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s ease;
}

.slide-up-enter.slide-up-enter-active {
  opacity: 1;
  transform: translateY(0px);
}

.slide-up-leave {
  opacity: 0;
}

.slide-up-leave.slide-up-leave-active {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}

.slide-up-appear {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s ease;
}

.slide-up-appear.slide-up-appear-active {
  opacity: 1;
  transform: translateY(0px);
}

/* Slide Left */

.slide-left-enter {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.3s ease;
}

.slide-left-enter.slide-left-enter-active {
  opacity: 1;
  transform: translateX(0px);
}

.slide-left-leave {
  opacity: 0;
}

.slide-left-leave.slide-left-leave-active {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}

.slide-left-appear {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.3s ease;
}

.slide-left-appear.slide-left-appear-active {
  opacity: 1;
  transform: translateX(0px);
}

/* Slide Right */

.slide-right-enter {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.3s ease;
}

.slide-left-eright.slide-left-eright-active {
  opacity: 1;
  transform: translateX(0px);
}

.slide-right-leave {
  opacity: 0;
}

.slide-right-leave.slide-right-leave-active {
  opacity: 0.01;
  transition: opacity 0.3ms ease-in;
}

.slide-right-appear {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.3s ease;
}

.slide-right-appear.slide-right-appear-active {
  opacity: 1;
  transform: translateX(0px);
}
