@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
}

.hvr-pulse-shrink:active,
.hvr-pulse-shrink:focus,
.hvr-pulse-shrink:hover {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  color: green;
}

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-forward:active,
.hvr-forward:focus,
.hvr-forward:hover {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/* Backward */
.hvr-backward {
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-backward:active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.hvr-backward:focus,
.hvr-backward:hover {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

.fade-enter {
  position: fixed;
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  position: fixed;
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  position: fixed;
  opacity: 1;
}

.fade-exit.fade-exit-active {
  position: fixed;
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

//nav slide up

.nav-slide-up-enter {
  pointer-events: none;
  transform: translateY(4.3vh);
  position: absolute;
  opacity: 0.01;
}

.nav-slide-up-enter-active {
  pointer-events: none;
  transform: translateY(0px);
  position: absolute;
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-slide-up-leave {
  pointer-events: none;
  transform: translateY(0px);
  position: absolute;
  opacity: 1;
}

.nav-slide-up-leave-active {
  pointer-events: none;
  transform: translateY(-18vh);
  position: absolute;
  opacity: 0.01;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

//cubic-bezier(0.68, -0.55, 0.265, 1.55) easback
//slide-up
.slide-up-enter {
  pointer-events: none;
  transform: translateY(800px);
  position: absolute;
  opacity: 0.01;
}

.slide-up-enter-active {
  pointer-events: none;
  transform: translateY(0px);
  position: absolute;
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slide-up-leave {
  pointer-events: none;
  transform: translateY(0px);
  position: absolute;
  opacity: 1;
}

.slide-up-leave-active {
  pointer-events: none;
  transform: translateY(800px);
  position: absolute;
  opacity: 0.01;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

//bounce
.bounce-enter {
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(0);
  position: absolute;

  opacity: 0.01;
}

.bounce-enter-active {
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(1);
  position: absolute;
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bounce-leave {
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(1);
  position: absolute;
  opacity: 1;
}

.bounce-leave-active {
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(.01);
  position: absolute;
  opacity: 0.01;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bounce-appear {
  pointer-events: none;
  transform-origin: 50% 50%;
  position: absolute;
  opacity: 0.01;
}

.bounce-appear-active {

  pointer-events: none;
  transform-origin: 50% 50%;
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

//bounce-skill

.bounce-skill-enter {
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(0);
  opacity: 0.01;
}

.bounce-skill-enter-active {

  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(1);
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.bounce-skill-leave {

  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(1);
  opacity: 1;

}

.bounce-skill-leave-active {

  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(.01);
  opacity: 0.01;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bounce-skill-appear {

  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(0);
  opacity: 0.01;
}

.bounce-skill-appear-active {

  pointer-events: none;
  transform-origin: 50% 50%;
  transform: scale(2);
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

//fast fade
.example-enter {
  pointer-events: none;
  z-index: 1;
  opacity: 0.01;
}

.example-enter-active {
  pointer-events: none;
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  pointer-events: none;
  opacity: 1;
}

.example-leave-active {
  pointer-events: none;
  opacity: 0.01;
  transition: all 500ms ease-in;
}

.example-appear {
  pointer-events: none;
  opacity: 0.01;
}

.example-appear-active {

  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

///slideright
.slideright-enter {
  pointer-events: none;
  position: fixed;
  transform: translateX(-1000px);

}

.slideright-enter.slideright-enter-active {
  pointer-events: none;

  position: fixed;
  transform: translateX(0px);
  transition: all 500ms cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

.slideright-leave {
  pointer-events: none;

  position: fixed;
  opacity: 1;
  transform: translateX(0px);
}

.slideright-leave.slideright-leave-active {
  pointer-events: none;
  position: fixed;
  opacity: 0.01;
  transform: translateX(400px);
  transition: all 500ms cubic-bezier(0.895, 0.030, 0.685, 0.220);
}
/////New
.slideleft-enter {
  pointer-events: none;
  position: fixed;
  transform: translateX(1000px);

}

.slideleft-enter.slideleft-enter-active {
  pointer-events: none;

  position: fixed;
  transform: translateX(0px);
  transition: all 500ms cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

.slideleft-leave {
  pointer-events: none;

  position: fixed;
  opacity: 1;
  transform: translateX(0px);
}

.slideleft-leave.slideleft-leave-active {
  pointer-events: none;

  position: fixed;
  opacity: 0.01;
  transform: translateX(-400px);
  transition: all 500ms cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

.slideleft-appear {
  pointer-events: none;
  opacity: 0.01;
}

.slideleft-appear.slideleft-appear-active {
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

//transition: all 0.5s cubic-bezier(0.895, 0.030, 0.685, 0.220);
/* Slide Up */

// Slide left nav
.slide-left-nav-enter {
  opacity: 0;
  transform: translateX(1000px);
  transition: all 0.3s ease;
}

.slide-left-nav-enter.slide-left-nav-enter-active {
  opacity: 1;
  transform: translateX(60vw);
}

.slide-left-nav-leave {
  opacity: 0.01;
  transition: all 0.3s ease-in;
}

.slide-left-nav-leave.slide-left-nav-leave-active {
  opacity: 0.01;
  transform: translateX(1000px);
  transition: all 0.3s ease-in;
}

.slide-left-nav-appear {
  opacity: 0;
  transform: translateX(1000px);
  transition: all 0.3s ease;
}

.slide-left-nav-appear.slide-left-nav-appear-active {
  opacity: 1;
  transform: translateX(60vw);
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:active,
.hvr-fade:focus,
.hvr-fade:hover {
  background-color: $todayV;
  color: black;
}

.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-color: $todayII;
  background: $todayII;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform, border-color;
  transition-property: transform, border-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-rectangle-out:active,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:hover {
  color: white;
}

.hvr-rectangle-out:active:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:hover:before {
  -webkit-transform: scale(1);
  transform: scale(1);
  border-color: $todayV;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:active,
.hvr-float:focus,
.hvr-float:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-underline-from-center {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;

}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 10px;
  background: $todayII;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:active:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:hover:before {
  left: 15%;
  right: 15%;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:active,
.hvr-grow:focus,
.hvr-grow:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
