.work-content-page {
  .image-gallery-container {
    .image-gallery {
      border: 1px solid $todayIII;
      margin: 0;

      .image-gallery-left-nav,
      .image-gallery-right-nav {
        padding: 0;
      }

      .image-gallery-left-nav:before {
        width: 44px;
        height: 46px;
        content: url('/assets/left-arrow.png');
      }

      .image-gallery-right-nav:before {
        width: 44px;
        height: 46px;
        content: url('/assets/right-arrow.png');
      }
    }
  }

  .project-descriptor {
    p {
      text-align: justify;
      text-justify: inter-word;
      padding: 1rem 0;
      font-size: 0.9rem;
    }
  }

}
