.work-page {
  width: 100vw;
  height: 100vh;

  .notify-swipe {
    height: 10vh;
    margin-top: 10vh;
  }

  .work-content {
    .work-item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .a,
    .b,
    .e,
    .g {
      fill: none;
    }

    .b,
    .e,
    .f,
    .g {
      stroke: #7fda89;
      stroke-miterlimit: 10;
    }

    #deep-space {
      clip-path: url("#a");
    }

    .d {
      fill: #7fda89;
    }

    .e,
    .f {
      stroke-width: 2px;
    }

    .f {
      fill: #061221;
    }

    .g {
      stroke-width: 0.5px;
    }

    #work-item-svg {
      width: 100%;
      max-width: 708px;

      #hcme {

        fill: none;
        stroke: $todayIII;

        #hcme-item {
          transform: translate(270px,50px);
        }
      }

      #deep-space-border,
      #gravesends-border,
      #hcme-border,
      #music-player-border,
      #pressing-game-border {
        fill: rgba(124,240,10,0.0);
      }
    }

  }

}

.disable-multiple {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  margin: 0;
  padding: 0;
  position: absolute;
}

.empty-space {
  height: 10vh;
}
