.work-page {
  margin: 0;
  padding: 0;
  display: flex;

  .notify-swipe {
    height: 10vh;
    margin-top: -10vh;
  }

  .work-content {
    height: 80vh;
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;

    .a,
    .b,
    .e,
    .g {
      fill: none;
    }

    .b,
    .e,
    .f,
    .g {
      stroke: #7fda89;
      stroke-miterlimit: 10;
    }

    .c {
      clip-path: url("#a");
    }

    .d {
      fill: #7fda89;
    }

    .e,
    .f {
      stroke-width: 2px;
    }

    .f {
      fill: #061221;
    }

    .g {
      stroke-width: 0.5px;
    }

    #work-item-svg {
      width: 708px;
      height: 484px;

      #hcme {

        fill: none;
        stroke: $todayIII;

        #hcme-item {
          transform: translate(270px,50px);
        }
      }

      #deep-space-border,
      #hcme-border,
      #music-player-border,
      #pressing-game-border {
        fill: rgba(124,240,10,0.0);
      }
    }

  }

}
