.work-controls-partial {
  .work-controls-content {
    display: flex;
    justify-content: center;

    #work-controls {
      fill: transparent;
      height: 40px;
      width: 165px;
      stroke: $todayIII;

      #exit,
      #next,
      #prev {
        stroke: $todayIII;
      }
    }
  }
}
