.work-content-page {
  overflow-y: scroll;
  height: 90vh;

  .image-gallery-container {
    .image-gallery {
      margin: auto;
      max-width: 900px;

      .image-gallery-left-nav,
      .image-gallery-right-nav {
        padding: 0;
        height: $image-gallery-buttons-size;
        width: $image-gallery-buttons-size;
      }

      .image-gallery-right-nav {
        background-image: url('/assets/right-arrow.svg');
      }

      .image-gallery-left-nav {
        background-image: url('/assets/left-arrow.svg');
      }
    }
  }

  .project-descriptor {
    p {
      text-align: justify;
      text-justify: inter-word;
      padding: 1rem 0;
      font-size: 0.9rem;
    }
  }

}

.description {
  margin: auto;
  max-width: 900px;
}
