.skill-items {
  padding: 5%;
  margin-top: 1%;

  position: absolute;
  top: 10.8%;
  bottom: 1%;
  width: 98.6%;

  .skill {
    padding: 0;
    position: absolute;
    float: left;
    width: 19%;
    height: 19%;
    display: block;
  }
}
