@import "base/variables";
@import 'base/mini-everything';
@import 'components/app';
@import 'components/top-nav';
@import "components/hexagon";
@import "components/glasses";
@import 'components/home';
@import 'components/center-logo';
@import 'components/media-icons';
@import 'components/aboutme';
@import 'components/browser';
@import 'components/skill-buttons';
@import 'components/work';
@import 'components/work-content';
@import 'components/work-controls';
@import 'components/transitions';
// foundation
@import '~react-image-gallery/styles/scss/image-gallery-no-icon.scss';

::-webkit-scrollbar {
  display: none;
}

.html {
  background-color: $background;
  overflow: hidden;
}

#root,
.root {
  overflow: hidden;
}

body {
  font-size: 12px;
  background-color: $background;
  margin: 0;

  height: 100vh;
}

svg#main {
  background-color: $background;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 105vw;
  height: 100vh;
}

h1 {
  color: $white;
}
