@import "base/variables";
@import "components/hexagon";
@import "components/glasses";
@import "components/topbar";
@import "components/tab";
@import 'components/_content.scss';
@import 'components/home';
@import 'components/icons';
// foundation
@import 'primocss';

body {
    font-size: 12px;
    background-color: $background;
    margin: 0;
    overflow: hidden;
}

svg {
  margin: 0;
}
