@font-face {
  font-family: gooddog;
  src: url('/fonts/gooddog.otf');
}
//Colors
$background: #6A888C;
$outlines: #A5E65A;
$greyish: #5F7174;
$darkerblue: #00A6C0;
$brightblue: #32D9CB;

$sourceCode: source_code_pro_reg;
