@font-face {
  font-family: novecentowide;
  src: url('/fonts/Novecentosanswide-Book-webfont.woff');
}

@font-face {
  font-family: novecentowidebold;
  src: url('/fonts/Novecentosanswide-Medium-webfont.woff');
}
@font-face {
  font-family: novecentowidenormal;
  src: url('/fonts/Novecentosanswide-Normal-webfont.woff');
}

$verydarkgreyishcyan: #343838;
$verydarkcyan: #005F6B;
$darkcyan: #008C9E;
$strongcyan: #00B4CC;
$purecyan: #00DFFC;
$steadygrey: #E9E9E9;

//Colors
$background: $verydarkgreyishcyan;
$outlines: $purecyan;
$greyish: verydarkcyan;
$darkerblue: #00A6C0;
$brightblue: $verydarkcyan;





$sourceCode: source_code_pro_reg;
