@font-face {
  font-family: novecentowide;
  src: url('/fonts/Novecentosanswide-Book-webfont.woff');
}

@font-face {
  font-family: novecentowidebold;
  src: url('/fonts/Novecentosanswide-Medium-webfont.woff');
}
@font-face {
  font-family: novecentowidenormal;
  src: url('/fonts/Novecentosanswide-Normal-webfont.woff');
}
// colors
$black: #000;
$white: #FFF;
$todayI: #041122;
$todayII: #259073;
$todayIII: #7FDA89;
$todayIV: #C8E98E;
$todayV: #E6F99D;

$sourceCode: source_code_pro_reg;

//variables

$background: $black;
